RewriteEngine On

# разрешение robots.txt
RewriteRule ^robots\.txt$ - [L]

# главная страница — index.php
DirectoryIndex index.php

# редирект некорректного url на 404
ErrorDocument 404 /404.php

# запрет индексации служебных, ненадобных страниц
<FilesMatch "^(auth|reg|admin)\.php$">
  Header set X-Robots-Tag "noindex, nofollow"
</FilesMatch>

# защита от DOS-атак
LimitRequestBody 10240000

# сжатие
<ifModule mod_deflate.c>
AddOutputFilterByType DEFLATE text/html text/plain text/xml application/xml application/xhtml+xml text/css text/javascript application/javascript application/x-javascript
</ifModule>