@font-face {
    font-family: "mine";
    src: url("../fonts/minecraft.ttf");
}

* {
    margin: 0;
    padding: 0;
    font-family: "mine";
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: inherit;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 5vh;
    background-color: #1E1E1E;

    color: white;
}

/* это нужно, чтобы потом их открывать в зависимости от куки юзера */
header button{
    display: none;
}

button {
    padding: 3vh 3vw;

    color: white;
    background: #128947;
    border: black 2px solid;

    box-shadow: inset 0px 7px #35CE49, inset 0 -7px #0B4E2D;

    cursor: pointer;
}

nav {
    display: flex;
    gap: 2vw;
}

/*главная*/
main {
    display: flex;
    align-items: center;
    justify-content: space-around;

    padding: 8vh;

    background-size: 5%;
    background-image: url('../img/stone.webp');
}

h1{
    color: white;
}

.list{
    display: flex;
    flex-direction: column;
    gap: 2vh;

    width: 50%;
    padding: 5vh;

    background: #D9D9D9;
    border: 7px solid black;
    box-shadow: inset 7px 7px #FFFFFF, inset -7px -7px #555555;
}

.list>div{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.search{
    display: flex;
    align-items: center;
}

.listhead img{
    width: 3vw;
}

.listCells{
    flex-wrap: wrap;
    justify-content: start;
    gap: 1vh 1vw;
}

#arrowBack{
    transform: rotate(180deg);
}

.craftingTable {
    width: 390px;
    height: 390px;
    padding: 7vh;

    background-image: url('../img/craftingTable.png');
    background-repeat: no-repeat;
    background-size: 100%;
}

.craftingTable td{
    height: 80px;
    width: 80px;

    border: #553824 solid 15px;
    background: #AE693C;
    box-shadow: none;
}

.craftingTable div{
    height: inherit;
}

.craftingTable img{
    height: 100%;
}

.cell, .result, #image {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    
    width: 90px;
    height: 90px;
    padding: 0.5vh;

    background: #8B8B8B;
    box-shadow: inset 5px 5px #373737, inset -5px -5px #FFFFFF;
}

.cell img, .result img{
    height: 80%;
}

.result{
    position: relative;
}

.result  p{
    position: absolute;
    right: 10%; bottom: 10%;

    font-size: 3vh;
    font-weight: bold;
    color: white;
}

#arrow {
    filter: brightness(0%);
}

/* подвал */
footer{
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 100%;
    padding: 5vh;

    background-color: #1E1E1E;
    color: white;
}

/* страница с формой */
.formPage{
    flex-direction: column;
    background-image: url(../img/backgroundForm.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.form{
    display: flex;
    flex-direction: column;
    gap: 4vh;

    width: 40vw;
    padding: 8vh;

    border-radius: 3%;

    background-color: #262626;
    color: white;
}

.form h1{
    text-align: center;
}

input, select{
    padding: 2vh;
    border: none;

    background: #131313;
    color: white;
}

.form>div{
    display: flex;
    flex-direction: column;
    gap: 2vh;
}

.errorSpan{
    display: none;
    align-items: center;
    gap: 2vw;
    padding: 2vh;
    background-color: #DEDEDE;
    border: 7px solid #AAAAAA;
}

.errorSpan img{
    height: 8vh;
}

.error{
    color: #733773;
}

/* админ панель */
.actions{
    display: flex;
    justify-content: space-between;
    width: 45%;
}

#items{
    width: 45%;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: start;
    gap: 1vh 1vw;
}

#adminMain{
    flex-direction: column;
    gap: 4vh;
    align-items: stretch
}

#adminContainer{
    display: flex;
    justify-content: space-between;
    align-items: start;
}

#itemForm{
    display: flex;
    flex-direction: column;
    gap: 2vh;
}

#apply, #delete{
    display: none;
}

.buttons{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#current{
    background-color: white;
}

#craftForm{
    display: none;
    flex-direction: column;
    gap: 2vh;
}

#craftDisplay{
    display: flex;
    align-items: center;
}

#craftDisplay input{
    width: 5vw;
}


/* список крафтов внизу */
.craftsList{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 2vh;
}

.craftsList .craftingTable{
    width: 200px;
    height: 200px;
    padding: 4vh;
}

.craftsList .craft{
    display: flex;
    align-items: center;
    gap: 2vw;

    padding: 3vh;

    background: #D9D9D9;
    border: 7px solid black;
    box-shadow: inset 7px 7px #FFFFFF, inset -7px -7px #555555;
}

.craftsList .result{
    width: 80px;
    height: 80px;
}

.craftsList .craftingTable td{
    width: 40px;
    height: 40px;
    border: #553824 solid 7px;
}

/* псевдоэлемент на подпись */
.caption{
    content: 'железный топор';
    position: absolute;

    display: flex;

    padding: 0.5vh 2vw;

    border: #29073A 10px solid;
    background-color: #15011cc1;
    color: white;
}