@font-face {
    font-family: "mine";
    src: url("../fonts/minecraft.ttf");
}

* {
    margin: 0;
    padding: 0;
    font-family: "mine";
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: inherit;
}

h1{
    font-size: 28px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 35px;
    background-color: #1E1E1E;

    color: white;
}

/* это нужно, чтобы потом их открывать в зависимости от куки юзера */
header button{
    display: none;
}

#logo{
    height: 70px;
}

button {
    padding: 25px 50px;

    display: flex;
    align-items: center;
    justify-content: center;

    color: white;
    background: #128947;
    word-spacing: 0.5vw;
    border: black 2px solid;

    box-shadow: inset 0px 7px #35CE49, inset 0 -7px #0B4E2D;

    cursor: pointer;
}

nav {
    display: flex;
    gap: 20px;
}
/*главная*/
main {
    display: flex;
    align-items: center;
    justify-content: space-between;

    height: 80vh;
    padding: 50px 20px;

    background-size: 5%;
    background-image: url('../img/stone.webp');
}

.craft{
    display: flex;
    align-items: center;
    gap: 2vw;
}

h1{
    color: white;
}

.list{
    display: flex;
    flex-direction: column;
    gap: 2vh;

    width: 50%;
    padding: 40px;

    background: #D9D9D9;
    border: 7px solid black;
    box-shadow: inset 7px 7px #FFFFFF, inset -7px -7px #555555;
}

.list>div{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.search{
    display: flex;
    align-items: center;
}
.search img{
    width: 40px;
}

.search input{
    width: 90%;
}

.listCells{
    flex-wrap: wrap;
    justify-content: start;
    gap: 1vh 1vw;
}

#arrowBack{
    transform: rotate(180deg);
}

.craftingTable {
    padding: 70px;

    background-image: url('../img/craftingTable.png');
    background-repeat: no-repeat;
    background-size: 100%;
}

.craftingTable td{
    height: 80px;
    width: 80px;

    border: #553824 solid 13px;
    background: #AE693C;
    box-shadow: none;
}

.craftingTable div{
    height: inherit;
}

.craftingTable img{
    height: 100%;
}

.cell, .result, #image {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    
    width: 90px;
    height: 90px;
    padding: 20px;

    background: #8B8B8B;
    box-shadow: inset 5px 5px #373737, inset -5px -5px #FFFFFF;
}

.craftingTable img{
    height: 50px;
    width: 50px;
}

.cell img, .result img{
    height: 70px;
    width: 70px;
}

.result{
    position: relative;
}

.result p{
    position: absolute;
    right: 10%; bottom: 10%;

    font-size: 3vh;
    font-weight: bold;
    color: white;
}

#arrow {
    filter: brightness(0%);
}

/* подвал */
footer{
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 100%;
    padding: 50px;

    background-color: #1E1E1E;
    color: white;
}

/* страница с формой */
.formPage{
    flex-direction: column;
    background-image: url(../img/backgroundForm.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: auto;
}

.form{
    display: flex;
    flex-direction: column;
    gap: 40px;

    width: 40vw;
    padding: 70px;

    border-radius: 30px;

    background-color: #262626;
    color: white;
}

.form h1{
    text-align: center;
}

input, select{
    padding: 20px;
    border: none;

    background: #131313;
    color: white;
}

.form>div{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.form>div:nth-last-child(2){
    display: none;
    flex-direction: row;
}

.errorSpan{
    align-items: center;
    gap: 20px;
    padding: 20px;
    background-color: #DEDEDE;
    border: 7px solid #AAAAAA;
}

.errorSpan img{
    height: 80px;
}

.error{
    color: #733773;
}

/* админ панель */
.actions{
    display: flex;
    justify-content: space-between;
    width: 45%;
}

#items{
    width: 45%;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: start;
    gap: 1vh 1vw;
}

#adminMain{
    flex-direction: column;
    gap: 4vh;
    align-items: stretch;

    height: auto;
}

#adminContainer{
    display: flex;
    justify-content: space-between;
    align-items: start;
}

.adminButtons{
    display: flex;
    gap: 20px;
}

#itemForm{
    display: flex;
    flex-direction: column;
    gap: 2vh;
}

#apply, #delete{
    display: none;
}

.buttons{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#current{
    background-color: white;
}

#craftForm{
    display: none;
    flex-direction: column;
    gap: 2vh;
}

#craftDisplay{
    display: flex;
    align-items: center;
}

#craftDisplay input{
    width: 100px;
}


/* список крафтов внизу */
.craftsList{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 2vh;
}

.craftsList .craftingTable{
    width: 200px;
    height: 200px;
    padding: 4vh;
}

.craftsList .craft{
    display: flex;
    align-items: center;
    gap: 2vw;

    padding: 3vh;

    background: #D9D9D9;
    border: 7px solid black;
    box-shadow: inset 7px 7px #FFFFFF, inset -7px -7px #555555;
}

.craftsList .result{
    width: 80px;
    height: 80px;
}

.craftsList .craftingTable td{
    width: 40px;
    height: 40px;
    border: #553824 solid 7px;
}

/* псевдоэлемент на подпись */
.caption{
    content: 'железный топор';
    position: absolute;

    display: flex;

    padding: 0.5vh 2vw;

    border: #29073A 10px solid;
    background-color: #15011cc1;
    color: white;
}

/* страница 404 */
#page404>div{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 4vh;

    color: white;
    font-size: 3vh;
}

#page404 h1{
    font-size: 28vh;
}

/* адаптивка */
@media screen and (max-width: 900px) {
    button{
        padding: 25px 35px;
    }
    
    /* шапка */
    header{
        gap: 25px;
        flex-direction: column;
    }
    nav{
        width: 100%;
        justify-content: center;
    }
    
    /* главная */
    main{
        flex-direction: column;
        gap: 2vh;
        height: auto;
    }
    .list{
        padding: 25px;
    }
    .listCells{
        gap: 10px 10px;
    }
    .cell{
        width: 80px;
        height: 80px;
    }
    .cell img{
        width: 60px;
        height: 60px;
    }
    .list,.craftingTable{
        width: 100%;
    }
    .craft{
        flex-direction: column-reverse;
    }
    .craftingTable{
        padding: 60px;
    }
    .craftingTable td{
        height: 70px;
        width: 70px;

        border: #553824 solid 10px;
    }
    .craftingTable img{
        width: 45px;
        height: 45px;
    }
    #arrow{
        display: none;
    }

    /* формы */
    .form{
        width: 100%;
        padding: 30px;
    }

    /* админ панель */
    #adminContainer{
        flex-direction: column;
    }

    /* подвал */
    footer{
        flex-direction: column;
        gap: 25px;
    }
}